/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: content-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.link {
  color: #b6c0c1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "GothamMedium";
  font-size: 14px; }

.form-text {
  box-sizing: border-box;
  font-family: "GothamBook";
  font-size: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px solid #6e695b;
  outline: none;
  margin-bottom: 24px; }

.header {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 480px) {
    .header {
      flex-direction: column; } }
  .header__logo {
    display: block;
    flex-basis: 10%; }
    @media only screen and (max-width: 480px) {
      .header__logo {
        margin-right: auto;
        margin-left: auto; } }
    @media only screen and (min-width: 1024px) {
      .header__logo {
        flex-basis: 20%; } }
  .header__logo-image {
    padding-top: 12px;
    margin-left: 16%; }
    @media only screen and (max-width: 480px) {
      .header__logo-image {
        margin-right: auto;
        margin-left: auto; } }
  .header__nav {
    position: relative;
    flex-basis: 50%; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .header__nav {
        flex: 1;
        margin-left: 72px; } }
    @media only screen and (max-width: 480px) {
      .header__nav {
        flex: 1; } }
    @media only screen and (min-width: 1024px) {
      .header__nav {
        flex: 4; } }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .header__nav-list {
        display: none; } }
    @media only screen and (max-width: 480px) {
      .header__nav-list {
        display: none; } }
    .header__nav-list-item {
      display: inline-block;
      margin: 0; }
      @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .header__nav-list-item {
          display: block; } }
      @media only screen and (max-width: 480px) {
        .header__nav-list-item {
          display: block;
          margin: 0 auto; } }
    .header__nav-checkbox {
      display: none; }
    .header__nav-menu {
      display: none;
      margin-right: 94px;
      padding-top: 24px; }
      @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .header__nav-menu {
          display: block;
          text-align: right; } }
      @media only screen and (max-width: 480px) {
        .header__nav-menu {
          display: block;
          margin-bottom: 16px;
          margin-right: auto;
          margin-left: auto;
          text-align: center; } }
    .header__nav-link {
      display: inline-block;
      margin-right: 16px;
      padding-top: 24px; }
      @media only screen and (min-width: 1024px) {
        .header__nav-link {
          margin-right: 24px; } }
      @media only screen and (max-width: 480px) {
        .header__nav-link {
          margin: 0; } }
      @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .header__nav-link {
          margin-right: 94px; } }
    .header__nav-link:hover {
      color: #e94e38; }
    .header__nav-checkbox:checked ~ .header__nav-list {
      display: block;
      position: absolute;
      top: 40px;
      right: 0;
      left: 0;
      margin: 0 auto;
      padding-bottom: 8px;
      text-align: center;
      background-color: #fff; }
      @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .header__nav-checkbox:checked ~ .header__nav-list {
          text-align: right; } }
    .header__nav-list li:last-of-type {
      margin-right: 94px; }
      @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .header__nav-list li:last-of-type {
          margin: 0; } }
      @media only screen and (max-width: 480px) {
        .header__nav-list li:last-of-type {
          margin: 0; } }
    .header__nav .header__search {
      display: none; }
    .header__nav .header__search-icon {
      display: inline-block;
      background-color: #e2dee0;
      color: #fff;
      font-size: 24px;
      padding: 0 24px;
      padding-top: 20px;
      padding-bottom: 22px;
      position: absolute;
      top: 0;
      right: 0; }
      @media only screen and (max-width: 480px) {
        .header__nav .header__search-icon {
          padding: 16px 16px 14px 16px; } }
  .header__login {
    background-color: #e94e38;
    flex-basis: 15%; }
    @media only screen and (max-width: 480px) {
      .header__login {
        width: 100%; } }
    .header__login-link {
      display: block;
      box-sizing: border-box;
      height: 66px;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 32px;
      color: #fff; }
      @media only screen and (max-width: 480px) {
        .header__login-link {
          padding: 16px 16px 14px 16px;
          text-align: center;
          height: auto; } }
      @media only screen and (min-width: 481px) and (max-width: 1023px) {
        .header__login-link {
          padding-left: 16px; } }
    .header__login .fa-user {
      font-size: 18px;
      margin-right: 16px; }

.search {
  background: url("../img/search-background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 54px;
  width: 100%; }
  .search__container {
    margin: 0 auto;
    text-align: center; }
  .search__heading {
    font-size: 30px;
    font-family: "GothamMedium";
    text-align: center;
    color: #fff;
    margin-bottom: 32px; }
  .search__city {
    min-width: 220px;
    margin-right: 32px;
    color: #fff; }
    @media only screen and (max-width: 480px) {
      .search__city {
        margin-right: auto;
        margin-left: auto; } }
  .search__purpose {
    color: #fff;
    min-width: 220px; }
  .search__keywords {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    padding-right: 14% !important; }
  .search__submit {
    font-family: "GothamMedium";
    text-transform: uppercase;
    font-size: 18px;
    padding: 16px 32px;
    color: #fff;
    background-color: #e94e38;
    border-radius: 32px;
    border: none;
    margin-bottom: 32px; }
  .search ::-webkit-input-placeholder {
    color: #fff; }
  .search ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff; }
  .search :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff; }
  .search :-moz-placeholder {
    /* Firefox 18- */
    color: #fff; }

.main-catalog {
  width: 100%;
  margin: 0 auto; }
  .main-catalog__more {
    margin: 0 auto;
    text-align: center; }
    .main-catalog__more .fa-long-arrow-right {
      color: #566375; }
  .main-catalog__load {
    color: #566375;
    font-family: "GothamMedium";
    font-size: 14px;
    margin-bottom: 40px;
    display: inline-block;
    margin-right: 8px; }
  .main-catalog__header {
    padding-top: 16px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .main-catalog__menu {
    display: inline-block;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .main-catalog__menu {
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 480px) {
      .main-catalog__menu {
        margin-left: auto;
        margin-right: auto; } }
  .main-catalog__menu-link:hover {
    color: #e94e38; }
  .main-catalog__menu-item {
    display: inline-block;
    padding-top: 20px;
    margin-right: 16px; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .main-catalog__menu-item {
        padding-top: 8px;
        margin-right: 16px; } }
    @media only screen and (max-width: 480px) {
      .main-catalog__menu-item {
        display: block;
        padding-top: 8px;
        margin-right: 0; } }
  .main-catalog__menu-item:last-of-type {
    margin-right: 0; }
  .main-catalog__form {
    display: inline-block;
    margin: 0 auto; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .main-catalog__form {
        display: block;
        text-align: center;
        width: 100%; } }
    @media only screen and (max-width: 480px) {
      .main-catalog__form {
        display: block;
        text-align: center; } }
  .main-catalog__map {
    display: inline-block;
    text-align: left;
    color: #cad2d3;
    border-color: #cad2d3;
    min-width: 160px; }
  .main-catalog__select {
    color: #e94e38;
    border-color: #cad2d3;
    box-sizing: border-box;
    min-width: 160px; }
  .main-catalog .filter__heading {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    bottom: 16px; }
  .main-catalog__filter {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    padding-top: 8px; }
    .main-catalog__filter .filter__list {
      display: inline-block; }
    .main-catalog__filter .filter__link {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #000;
      border-radius: 50%;
      position: relative; }
      .main-catalog__filter .filter__link-estate {
        background-color: #1baf5d; }
      .main-catalog__filter .filter__link-estate::after {
        background: url("../img/estate.png") no-repeat center center; }
      .main-catalog__filter .filter__link-social {
        background-color: #b6c0c1; }
      .main-catalog__filter .filter__link-social::after {
        background: url("../img/social.png") no-repeat center center; }
      .main-catalog__filter .filter__link-education {
        background-color: #b6c0c1; }
      .main-catalog__filter .filter__link-education::after {
        background: url("../img/education.png") no-repeat center center; }
      .main-catalog__filter .filter__link-music {
        background-color: #f19e1f; }
      .main-catalog__filter .filter__link-music::after {
        background: url("../img/music.png") no-repeat center center;
        background-position: 45% 50%; }
      .main-catalog__filter .filter__link-transport {
        background-color: #88499c; }
      .main-catalog__filter .filter__link-transport::after {
        background: url("../img/transport.png") no-repeat center center; }
      .main-catalog__filter .filter__link-estate::after, .main-catalog__filter .filter__link-social::after, .main-catalog__filter .filter__link-education::after, .main-catalog__filter .filter__link-music::after, .main-catalog__filter .filter__link-transport::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute; }
    .main-catalog__filter .filter__list-item {
      display: inline-block; }

.main-catalog__content {
  background-color: #f3f1f2;
  width: 100%;
  padding-top: 42px;
  border-top: 1px solid #e2dee0; }

.main-catalog__row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 480px) {
    .main-catalog__row {
      width: 95%; } }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .main-catalog__row {
      width: 85%; } }

.main-catalog__item {
  position: relative;
  display: inline-block;
  max-width: 210px;
  min-height: 260px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 32px; }
  @media only screen and (max-width: 480px) {
    .main-catalog__item {
      margin-left: auto;
      margin-right: auto; } }
  .main-catalog__item-image {
    border-bottom: 3px solid #b6c0c1; }
    .main-catalog__item-image--double-width {
      max-width: 100%;
      max-height: 100%; }
  .main-catalog__item-icon {
    position: absolute;
    top: 110px;
    left: 36%;
    width: 52px;
    height: 52px;
    background-color: #b6c0c1;
    border-radius: 50%;
    border: 3px solid white; }
  .main-catalog__item-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat center center; }
  .main-catalog__item-price {
    display: none;
    font-family: "GothamMedium";
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 16px;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 8px; }
  .main-catalog__item-rating {
    text-align: center;
    padding-top: 6px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%); }
    .main-catalog__item-rating-counter {
      font-family: "GothamMedium";
      font-size: 12px;
      color: #96a6a7; }
  .main-catalog__item-rating-avatar {
    position: absolute;
    left: 22px;
    top: 168px; }
    @media only screen and (max-width: 480px) {
      .main-catalog__item-rating-avatar {
        top: 43%;
        left: 4px; } }
  .main-catalog__item-rating-user {
    padding-top: 16px;
    margin-bottom: 12px; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .main-catalog__item-rating-user {
        padding-left: 104px; } }
    @media only screen and (min-width: 1024px) {
      .main-catalog__item-rating-user {
        padding-left: 104px; } }
  .main-catalog__item-rating-author {
    font-family: "GothamBold";
    color: #566375;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    padding-top: 8px;
    margin-bottom: 8px; }
    @media only screen and (max-width: 480px) {
      .main-catalog__item-rating-author {
        padding-left: 88px; } }
  .main-catalog__item-rating-comment {
    font-size: 14px;
    font-family: "GothamBook";
    padding-right: 8px;
    color: #838d9a; }
    @media only screen and (max-width: 480px) {
      .main-catalog__item-rating-comment {
        padding-top: 24px;
        padding-left: 8px; } }
  .main-catalog__item-read-more {
    font-size: 14px;
    font-family: "GothamMedium";
    color: #566375; }
  .main-catalog__item--estate .main-catalog__item-image {
    border-bottom: 3px solid #1baf5d; }
  .main-catalog__item--estate .main-catalog__item-category {
    color: #1baf5d; }
  .main-catalog__item--estate .main-catalog__item-price {
    display: block;
    background-color: #1baf5d;
    position: absolute;
    top: 8px;
    right: 8px; }
  .main-catalog__item--estate .main-catalog__item-icon {
    background-color: #1baf5d; }
  .main-catalog__item--estate .main-catalog__item-icon::after {
    background-image: url("../img/estate-bg.png"); }
  .main-catalog__item--music .main-catalog__item-image {
    border-bottom: 3px solid #f19e1f; }
  .main-catalog__item--music .main-catalog__item-category {
    color: #f19e1f; }
  .main-catalog__item--music .main-catalog__item-icon {
    background-color: #f19e1f; }
  .main-catalog__item--music .main-catalog__item-icon::after {
    background-image: url("../img/music-bg.png"); }
  .main-catalog__item--transport .main-catalog__item-image {
    border-bottom: 3px solid #88499c; }
  .main-catalog__item--transport .main-catalog__item-category {
    color: #88499c; }
  .main-catalog__item--transport .main-catalog__item-icon {
    background-color: #88499c; }
  .main-catalog__item--transport .main-catalog__item-icon::after {
    background-image: url("../img/transport-bg.png"); }
  .main-catalog__item--double-width {
    max-width: 454px;
    min-height: 260px; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .main-catalog__item--double-width {
        margin-left: auto;
        margin-right: auto; } }
  .main-catalog__item--double-width .main-catalog__item-icon {
    top: 92px;
    left: 24px; }
    @media only screen and (max-width: 480px) {
      .main-catalog__item--double-width .main-catalog__item-icon {
        top: 4px;
        left: 4px; } }
  .main-catalog__item--double-width .main-catalog__item-category {
    top: 94px;
    left: 94px;
    font-family: "GothamMedium";
    font-size: 18px;
    color: #fff;
    padding: 0;
    transform: none; }
    @media only screen and (max-width: 480px) {
      .main-catalog__item--double-width .main-catalog__item-category {
        top: 50px;
        left: 66px;
        font-size: 12px; } }
  .main-catalog__item--double-width .main-catalog__item-rating {
    top: 90px;
    left: 258px;
    transform: none; }
  .main-catalog__item--double-width .main-catalog__item-rating-counter {
    color: #fff; }
  @media only screen and (max-width: 480px) {
    .main-catalog__item--double-width .main-catalog__item-rating-icon-bg {
      padding-left: 88px; } }
  @media only screen and (max-width: 480px) {
    .main-catalog__item--double-width .main-catalog__item-rating {
      top: 26px;
      left: 68px; } }

.item-description {
  font-family: "GothamMedium";
  font-size: 14px;
  text-align: center;
  padding-top: 24px;
  margin: 0 8px;
  color: #566375; }

.item-category {
  font-family: "GothamMedium";
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  padding-top: 16px;
  display: block;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%); }

.main-catalog__horizontal-line {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid #e2dee0; }

.offer {
  background-color: #f3f1f2;
  width: 100%; }
  .offer__heading {
    font-family: "GothamMedium";
    font-size: 22px;
    color: #566375;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 16px; }
  .offer__subheading {
    font-family: "GothamBook";
    color: #96a6a7;
    font-size: 16px;
    text-align: center;
    margin-bottom: 64px; }
  .offer__icons {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .offer__icons {
        width: 85%; } }
    @media only screen and (max-width: 480px) {
      .offer__icons {
        width: 95%; } }
    .offer__icons-item {
      position: relative;
      display: inline-block;
      width: 104px;
      height: 104px;
      border: 2px solid #e2dee0;
      border-radius: 50%;
      margin-right: 64px;
      margin-bottom: 16px; }
      @media only screen and (max-width: 480px) {
        .offer__icons-item {
          margin-right: auto;
          margin-left: auto; } }
    .offer__icons-item:last-child {
      margin-right: 0; }
    .offer__icons-item::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .offer__icons-item-estate {
      border-color: #1baf5d; }
    .offer__icons-item-estate::after {
      background: url("../img/estate-lg.png") no-repeat center center; }
    .offer__icons-item-social::after {
      background: url("../img/social-lg.png") no-repeat center center; }
    .offer__icons-item-education::after {
      background: url("../img/education-lg.png") no-repeat center center; }
    .offer__icons-item-music::after {
      background: url("../img/music-lg.png") no-repeat center center; }
    .offer__icons-item-transport::after {
      background: url("../img/transport-lg.png") no-repeat center center; }
  .offer__explanation {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 132px; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .offer__explanation {
        width: 85%; } }
    @media only screen and (max-width: 480px) {
      .offer__explanation {
        width: 95%; } }
    .offer__explanation-heading {
      font-family: "GothamMedium";
      font-size: 24px;
      color: #1baf5d;
      text-align: center;
      margin-bottom: 40px; }
    .offer__explanation-description {
      display: inline-block;
      position: relative;
      max-width: 360px;
      padding-right: 64px;
      font-family: "GothamBook";
      font-size: 14px;
      text-align: left;
      color: #566375;
      line-height: 24px;
      margin-bottom: 32px; }
      @media only screen and (max-width: 480px) {
        .offer__explanation-description {
          padding-right: 0; } }
      .offer__explanation-description-icon {
        position: absolute;
        width: 64px;
        height: 64px;
        top: 0;
        left: 0;
        background-color: #1baf5d;
        border-radius: 50%; }
      .offer__explanation-description-icon::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
      .offer__explanation-description-icon-flash::after {
        background: url("../img/flash.png") no-repeat center center; }
      .offer__explanation-description-icon-leaf::after {
        background: url("../img/leaf.png") no-repeat center center; }
      .offer__explanation-description-text {
        padding-left: 96px; }

.footer {
  width: 100%;
  padding-bottom: 54px;
  background: url("../img/footer-background.jpg") no-repeat center center fixed;
  background-size: cover; }
  .footer__subscribe {
    width: 70%;
    margin: 0 auto;
    padding-top: 54px;
    margin-bottom: 54px;
    text-align: center; }
    @media only screen and (min-width: 481px) and (max-width: 1023px) {
      .footer__subscribe {
        width: 85%; } }
    @media only screen and (max-width: 480px) {
      .footer__subscribe {
        width: 95%; } }
    .footer__subscribe-heading {
      margin-bottom: 40px;
      font-family: "GothamMedium";
      font-size: 24px;
      color: #fff; }
  .footer__form {
    position: relative; }
    .footer__form-email {
      margin: 0 auto;
      max-width: 500px;
      min-width: 400px;
      padding: 18px 24px;
      margin-bottom: 24px; }
      @media only screen and (max-width: 480px) {
        .footer__form-email {
          min-width: inherit;
          padding-right: 24px; } }
    .footer__form-submit {
      position: absolute;
      top: 4px;
      right: 106px;
      background-color: #e94e38;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      font-family: "GothamMedium"; }
      @media only screen and (max-width: 480px) {
        .footer__form-submit {
          position: static; } }
  .footer__container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px; }
  .footer__separate {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #585249;
    margin-bottom: 40px; }
    @media only screen and (max-width: 480px) {
      .footer__separate {
        width: 95%; } }
  .footer__navigation {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media only screen and (max-width: 480px) {
      .footer__navigation {
        width: 95%; } }
    .footer__navigation-header {
      display: inline-block;
      margin-bottom: 24px;
      padding-bottom: 3px;
      font-family: "GothamMedium";
      font-size: 16px;
      color: #fff;
      border-bottom: 1px solid #585249; }
    @media only screen and (max-width: 480px) {
      .footer__navigation-list {
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto; } }
    .footer__navigation-list-item:not(:last-child) {
      margin-bottom: 8px; }
    .footer__navigation-link {
      font-family: "GothamBook";
      font-size: 14px;
      color: #585249;
      text-decoration: none; }
    .footer__navigation-social {
      padding-right: 64px;
      position: relative; }
      @media only screen and (max-width: 480px) {
        .footer__navigation-social {
          display: block;
          margin: 0 auto;
          padding: 0;
          min-height: 160px;
          text-align: center; } }
      .footer__navigation-social-copyright {
        color: #585249;
        font-family: "GothamBook";
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0; }
    .footer__navigation-links-item {
      display: inline-block;
      margin-right: 16px; }
    .footer__navigation-links-icon {
      text-decoration: none;
      color: #fff;
      font-size: 30px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

@font-face {
  font-family: 'GothamBook';
  src: url("GothamBook.eot");
  src: local("GothamBook"), url("GothamBook.woff") format("woff"), url("GothamBook.ttf") format("truetype"); }

@font-face {
  font-family: 'GothamBold';
  src: url("GothamBold.eot");
  src: local("GothamBold"), url("GothamBold.woff") format("woff"), url("GothamBold.ttf") format("truetype"); }

@font-face {
  font-family: 'GothamMedium';
  src: url("GothamMedium.eot");
  src: local("GothamMedium"), url("GothamMedium.woff") format("woff"), url("GothamMedium.ttf") format("truetype"); }

.clearfix {
  content: "";
  display: table;
  clear: both; }
