$br-salad: #1baf5d;
$br-violet: #88499c;
$br-orange: #f19e1f;
$br-red: #e94e38;
$br-grey: #b6c0c1;
$br-lightgrey: #e2dee0;
$br-bluegrey: #566375;
$br-lgrey: #96a6a7;
$br-border-grey: #cad2d3;
$br-beige: #f3f1f2;
