.footer {
  width: 100%;
  padding-bottom: 54px;
  background: url("../img/footer-background.jpg") no-repeat center center fixed;
  background-size: cover;

  &__subscribe {
    width: 70%;
    margin: 0 auto;
    padding-top: 54px;
    margin-bottom: 54px;
    text-align: center;

    @include respond-to(medium-screens) {
      width: 85%;
    }
    @include respond-to(handhelds) {
      width: 95%;
    }

    &-heading {
      margin-bottom: 40px;
      font-family: "GothamMedium";
      font-size: 24px;
      color: #fff;
    }
  }

  &__form {
    position: relative;

    &-email {
      margin: 0 auto;
      max-width: 500px;
      min-width: 400px;
      padding: 18px 24px;
      margin-bottom: 24px;

      @include respond-to(handhelds) {
        min-width: inherit;
        padding-right: 24px;
      }
    }

    &-submit {
      position: absolute;
      top: 4px;
      right: 106px;
      background-color: $br-red;
      text-transform: uppercase;
      color: #fff;
      font-size: 14px;
      font-family: "GothamMedium";

      @include respond-to(handhelds) {
        position: static;
      }
    }
  }

  &__container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__separate {
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid $br-transparentgrey;
    margin-bottom: 40px;

    @include respond-to(mediums-screens) {
      width: 85%;
    }
    @include respond-to(handhelds) {
      width: 95%;
    }
  }

  &__navigation {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond-to(mediums-screens) {
      width: 85%;
    }
    @include respond-to(handhelds) {
      width: 95%;
    }

    &-header {
      display: inline-block;
      margin-bottom: 24px;
      padding-bottom: 3px;
      font-family: "GothamMedium";
      font-size: 16px;
      color: #fff;
      border-bottom: 1px solid $br-transparentgrey;
    }

    &-list {

      @include respond-to (handhelds) {
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &-list-item:not(:last-child) {
      margin-bottom: 8px;
    }

    &-link {
      font-family: "GothamBook";
      font-size: 14px;
      color: $br-transparentgrey;
      text-decoration: none;
    }

    &-social {
      padding-right: 64px;
      position: relative;

      @include respond-to(handhelds) {
        display: block;
        margin: 0 auto;
        padding: 0;
        min-height: 160px;
        text-align: center;
      }

      &-copyright {
        color: $br-transparentgrey;
        font-family: "GothamBook";
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-links {

      &-item {
        display: inline-block;
        margin-right: 16px;
      }

      &-icon {
        text-decoration: none;
        color: #fff;
        font-size: 30px;
      }
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
