.form-text {
  box-sizing: border-box;
  font-family: "GothamBook";
  font-size: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px solid #6e695b;
  outline: none;
  margin-bottom: 24px;
}
